


body{
    
        background-image: url("photos/HunterSFittnessBW2.jpg");
        height: 100vh;
       background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Cormorant', serif;
       
    }



.container-sm{
  
    background: rgba(112, 111, 111, 0.3);
    margin-top:2%;
    max-width:80vh;
    padding-top:10px;
    float:left;
    margin-left:2%;
    margin-right:2%;
    border: none;
    text-decoration: none;
}

.btn{
background-color:white;
color:black;
border: none;
text-decoration: none;
width:30%;
text-align: center;
height:35px; 
width:140px; 
margin: -20px -50px; 
position:relative;
top:50%; 
left:50%;
 margin-bottom:2%;
}

.btn:hover,.btn:focus,.btn:visited,.btn:active{
    background-color:black;
}


#note{
    margin-bottom:8px;
}