body {
    background-image: url("photos/BWHunter-ConvertImage.jpg");
    height: 100vh;
   background-position: center;
  
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cormorant', serif;
   
}

.responsive {
        width:100%;
        height: auto;
      
       
        
      }
  
.logopic{
  background: rgba(112, 111, 111, 0.5);
  margin-top:2%;
 margin-left:2%;
  padding-right:2%;
  max-width:80vh;
  
  margin-bottom:8px;
}

.quote{
 
  color:black;
  font-weight:heavy;
  padding-left:2%;
  padding-right:2%;
  max-width:80vh;
  margin:2%;
  
}

.slide-right{
  padding-bottom:6px;
}